.header-icon1 {
    margin-top: 7px;
    width: 7vh;
    height: 7vh;
    margin-bottom: 3px;
    border-radius: 0%;
}

.icon-holder {
    margin: 0 auto;
}

.header {
    border-bottom: solid #fff 1px;
}

.header1 {
    display: flex;
}