.header-icon1 {
    margin-top: 5px;
    width: 5vh;
    height: 5vh;
    margin-bottom: 5px;
}

.icon-holder {
    margin: 0 auto;
}

.header {
    border-bottom: solid #fff 1px;
}

.header1 {
    display: flex;
}