body{
    background-color: #202020;
    font-family: 'DotGothic16', sans-serif;
    font-family: 'Kiwi Maru', serif;
    overflow: hidden;
    margin-top:50px;
}
.main{
    color:#ffff19;
    text-align: center;
    margin:50% auto;
}
@media screen and (min-width: 472px) {
    .main {
            color: #ffff19;
            text-align: center;
            margin: 0 auto;
        }
}
.main h2{
    color:#ffff19;
    transition: 0.3s;
}
.main h2:hover{
    opacity: 0.8;
}
.main a{
    text-decoration: none;
}
.main img{
    width:20%;
}
.main h2{
    border-radius: 12px;
    background-color: #f29d35;
    text-align: center;
    padding-bottom:5px;
}
.option1{
    width:50%;
    padding-left:25%;
    margin-top: 15vh;
}
.option2{
    width:50%;
    padding-left:25%;
}