body{
    background-color: #202020;
    font-family: 'DotGothic16', sans-serif;
    font-family: 'Kiwi Maru', serif;
    overflow: hidden;
    margin-top:50px;
}
.main{
    color:#ffff19;
    text-align: center;
    margin:0 auto;
}
.main h2{
    color:#ffff19;
    transition: 0.3s;
}
.main h2:hover{
    opacity: 0.8;
}
.main a{
    text-decoration: none;
}
.main img{
    width:20%;
}
.main h2{
    border-radius: 12px;
    background-color: #f29d35;
    text-align: center;
    padding-bottom:5px;
}
.option1{
    width:30%;
    padding-left:35%;
}
.option2{
    width:30%;
    padding-left:35%;
}