body {
  width: 100%;
  position: absolute;
  background-color: #202020;
  color: #fff;
  /* font-family: "DotGothic16", sans-serif;
  font-family: "Kiwi Maru", serif; */
  font-family: 'M PLUS Rounded 1c', sans-serif;
  margin: 0%;
}

.main {
  max-width: 800px;
  margin: 0 auto;
  width: 90%;
  margin-left: 0 !important;
}

.main img {
  width: 50%;
  display: block;
  /*PC版はこれなし*/
  margin: 0 auto;
  /*PC版はこれなし*/
}

.return-to-top {
  position: fixed;
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
  bottom: 10px;
  right: 5vw;
}

.return-to-top :hover {
  opacity: 0.8;
}

.main h2 {
  background-color: black;
  border-right: solid 5px;
  padding-right: 15px;
  text-align: right;
}

/* PC */
@media screen and (min-width: 700px) and (max-width: 5000px) {
  .main {
    max-width: 800px;
    margin: 0 auto;
    width: 85%;
    margin-left: 0 !important;
  }

}

.main h4 {
  font-weight: 500;
  margin-left: 3vw;
}

h1 {
  margin-left: 3vw;
}
