body{
    position: absolute;
    background-color: #202020;
    color:#fff;
    font-family: 'DotGothic16', sans-serif;
    font-family: 'Kiwi Maru', serif;
}
.main{
    /* padding-left:30%;   PC版はこれあり */
    /* margin-right:30%;   PC版はこれあり */
}
.main img{
    width:50%;
    border:solid 2px;
    display:block; /*PC版はこれなし*/
    margin:0 auto; /*PC版はこれなし*/
}

.return-to-top{
    position: fixed;
    text-decoration: none;
    color:#fff;
    transition: 0.3s;
    bottom: 10px;
    left: 270px;  /*PC版は40px*/
}
.return-to-top :hover{
    opacity: 0.8;
}

.main h2{
    background-color: black;
    border-left:solid 5px;
    padding-left:5px;
}
