/* .container
{
    width:80%;
    max-width: 800px;
} */

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  /* margin-bottom: 3%; */
  /* justify-content: space-evenly; */
}

/* .wrapper div{
    width: 30%;
    height: 125px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
} */

/* .wrapper div p{
    text-align: center;
}

.wrapper div p:nth-of-type(1)
{
    margin: 0;
}

.wrapper div p:nth-of-type(2)
{
    margin: 0;
    color:orange;
    font-weight: 600;
    font-size: 45px;
} */

#member_name {
  /* display: flex; */
  /* flex-direction: column;
    justify-content: space-between; */
  color: rgb(255, 255, 255);
  font-size: 80%;
  margin-top: auto;
  /* margin-right: 10%; */
}

#group0_wrapper {
  display: flex;
  background-color: #e76f51;
}

#group1_wrapper {
  display: flex;
  background-color: #f4a261;
}

#group2_wrapper {
  display: flex;
  background-color: #e9c46a;
}

#group3_wrapper {
  display: flex;
  background-color: #8ab17d;
}

#group4_wrapper {
  display: flex;
  background-color: #2a9d8f;
}

#group5_wrapper {
  display: flex;
  background-color: #264653;
}

#\30 {
  background-color: #e76f51;
  color: #ffffff;
}

#\31 {
  background-color: #f4a261;
  color: #ffffff;
}

#\32 {
  background-color: #e9c46a;
  color: #ffffff;
}

#\33 {
  background-color: #8ab17d;
  color: #ffffff;
}

#\34 {
  background-color: #2a9d8f;
  color: #ffffff;
}

#\35 {
  background-color: #264653;
  color: #ffffff;
}
/* .name-wrapper{
    width: 50%;
    display: flex;
    margin-left: 3%;
} */

img.mbti_img {
  width: 8vh;
  border-radius: 50%;
  position: relative;
}

/* .mbti-wrapper {
    display: flex;
} */

body {
  background-color: #323338;
  font-weight: 500;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  overflow: hidden;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.number {
  text-align: center;
  overflow-y: scroll;
  /* このheightで表示の高さを変更する */
  height: 100%;
}

.result {
  font-size: 200%;
  color: #f5e359;
  text-align: center;
  margin-bottom: 1vh;
  margin-top: 0.05vh;
}

.container {
  margin: 0 auto;
}

.white_text {
  color: white;
  text-align: center;
  font-size: 80%;
  margin-left: 0;
  margin-right: 0;
}

.members {
  text-align: center;
}

.groups {
  text-align: center;
  margin-left: auto;
}

.score {
  text-align: center;
  margin-left: auto;
}

#result_wrap {
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
  font-weight: 700;
}

.d_result {
  color: #f09937;
  font-size: 220%;
}

#member_text {
  margin-left: 33%;
}

#group_text {
  margin-left: 6.5%;
}

#MG_text {
  display: flex;
}

hr {
  margin: 0;
  height: 1px;
  background-color: #bbbbbb;
  border: none;
}

#fix_component {
  background-color: #323338;
  width: 100vw;
  margin-top: 0;
  margin-left: 0;
  z-index: 10000;
}

.member-wrapper {
  /* text-align: center; */
  padding-left: 4%;
  padding-right: 0;
  padding-bottom: 4%;
  padding-top: 4%;
}

/* .wrapper {
    display: flex;
} */

#member_name {
  position: absolute;
  top: 92%;
  left: 0;
  right: 0;
  margin-bottom: 3%;
  font-size: xx-small;
}

#member_mbti {
  position: relative;
}

.group_name {
  height: 20%;
}

#go-back {
  touch-action: manipulation;
  background-color: #154e6f;
  color: #ffffff;
  border-radius: 14px;
  font-size: 120%;
  height: 40px;
  width: 150px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  /* font-weight: bold; */
  /* position: fixed;
  top: max-height;
  bottom: 0;
  left: 0;
  right: 0; */
}

#share-result {
  touch-action: manipulation;
  background-color: #f09937;
  color: #ffffff;
  border-radius: 14px;
  font-size: 120%;
  height: 40px;
  width: 150px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  /* font-weight: bold; */
  /* position: fixed;
  top: max-height;
  bottom: 0;
  left: 0;
  right: 0; */
}

button {
  margin-top: 4%;
  margin-bottom: 4%;
}

form {
  display: flex;
  justify-content: space-evenly;
}

#fix_component2 {
  display: none;
  background-color: #323338;
}

/* ProMax,Plus */
/* @media screen and (max-width: 430px) {
  form {
    margin-bottom: 82px;
  }
} */

/* Pro,muji */
/* @media screen and (max-width: 414px) {
  form {
    margin-bottom: 80px;
  }
} */

/* @media screen and (max-width: 390px) {
  form {
    margin-bottom: 77px;
  }
} */

/* se */
/* @media screen and (max-width: 375px) and (max-height:550px) {
  form {
    margin-bottom: 75px;
  }
} */

/* mini */
/* @media screen and (max-width: 375px) and (min-height:550px){
  form {
    margin-bottom: 79px;
  }
} */

html {
    height: 100%;
}

input {
	background: none;
	border: none;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
  display: none;
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #ffffff;
  text-align: center;
  width: 100%;
  border-radius: 6px;
}

.editbutton {
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  border-radius: 6px;
}

.editbutton_none {
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  border-radius: 6px;
  display: none;
}

#group-name-wrapper {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 4px;
  margin-right: 0;
  width: 143px;
}

/* PC */
@media screen and (min-width: 700px) and (max-width: 5000px) {
  .group-wrapper{
    height: 20%;
  }
  #group-name-wrapper {
    margin-top:0 auto;
    margin-bottom:0 auto;
  }
  .member-wrapper {
    /* text-align: center; */
    padding-left: 3%;
    padding-right: 0;
    padding-bottom: 3%;
    padding-top: 3%;
  }
  #member_name {
    font-size: medium;
  }
  #go-back {
    font-size: 120%;
    height: 50px;
    width: 180px;
    font-size: x-large;
  }
  #share-result {
    font-size: 120%;
    height: 50px;
    width: 180px;
    font-size: x-large;
  }
}
