  /* スタイルは必要に応じて調整してください */
  .image-container {
    margin-bottom: 3vh;
  }

  #image-container {
    overflow: auto;
  }

  img {
    margin-top: 5px;
    width: 120px;
    height: 120px;
    border-radius:50%;
  }

  body {
    background-color: #323338;
    font-family: "M PLUS Rounded 1c";
    font-weight: 700;
    width: 100vw;
    margin-top: 0;
    margin-left: 0;
  }

  .white_text {
    color: white;
    text-align: center;
  }

  #memberNumber {
    color: #f09937;
  }

  #resible {
    color: #f09937;
    text-align: center;

  }

  #resible_rest {
    color: #f09937;
    text-align: center;
  }

  #title {
    font-size: 200%;
    font-weight: bold;
    color: #f5e359;
    text-align: center;
    margin-bottom: 1vh;
    margin-top: 0.05vh;
  }

  #container {
    margin-left: 0px;
    margin-right: 0%;
  }

  #member_text {
    text-align: center;
  }

  #memberNumber {
    font-size: 220%;
    text-align: center
  }

  #G_addButton {             
    margin:  auto; 
    background-color: #323338;
    color: #929292;
    border-radius: 15px;
    font-size: 180%;
    height: 50px;
    width: 200px;
    font-weight: bold;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  #removeButton {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 240%;
    background-color: rgb(170, 30, 30);
    color: #ffffff;
  }

  #addButton {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 240%;
    background-color: rgb(30, 30, 170);
    color: #ffffff;
  }

  #GB_parent {
    height: 90px;
    text-align: center;
    position: relative;
  }

  #num_Display {
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
  }

  #G_numBlock {
    margin-left: auto;
    text-align: center;
  }

  #group_num {
    margin-top: 11%;
    width: 65%;
    height: 46%;
    font-size: larger;
    text-align: center;
  }

  #AR_Button {
    display: flex;
    position: absolute;
    left:  0;                    
    right:  0;   
  }

  #AR_Button_parent {
    position: relative;
    margin:  auto; 
    margin-top: 2vh;
    width: 273px;
    height: 50px;
  }

  #restNum_Display {
    margin: auto
  }

  #dropdown {
    width: 54px;
    height: 35px;
    margin-top: 8px;
    font-size: larger;
  }

  #conrtainer {
    text-align: center;
  }

  html {
    text-align: center;
  }

  #LogoImg {
    width: 6vh;
    height: 7vh;
  }

  .fix_component_bottom{
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: #323338;
  }
  .fix_component_top {
    position: fixed;
    background-color: #323338;
    width: 100vw;
    margin-top: 0;
    margin-left: 0;
    text-align: center;
  }
  .add_members{
    padding-top: 32.5vh;
    padding-bottom: 19vh;
  }

  hr {
    margin: 0.05%;
    height: 0.3px;
    background-color: #929292;
    border: none;
  }

  #ButtonValid {
    margin:  auto; 
    background-color: #f09937;
    color: #f5e359;
    border-radius: 15px;
    font-size: 180%;
    height: 50px;
    width: 200px;
    font-weight: bold;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  #ButtonDesabled {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 240%;
    background-color: #323338;
    color: #ffffff;
  }
