<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:url" content="ページURL" />
    <meta property="og:site_name" content="-G-性格ぴったりグループ生成アプリ" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="-G-性格ぴったりグループ生成アプリ" />
    <meta property="og:description" content="MBTIの結果を用いて相性がピッタリなグループ分けを行うWEBサイトです。" />
    <meta property="og:image" content="{{ url_for('static', filename='images/logist.jpeg') }}" />
    <title>-G-性格ぴったりグループ生成アプリ</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logist.jpeg') }}">
</head>
{% block content %}
{% endblock %}
</html>