{% extends "base.html" %} {% block content %}
<link rel="stylesheet" href="./static/css/how-to-use.css" />
<body>
  <div class="header">
    <div class="header1">
      <div class="icon-holder">
        <a href="{{ url_for('index') }}"
          ><img
            src="{{ url_for('static', filename='images/logo.png') }}"
            alt="ロゴ画像"
            class="header-icon1"
            id="LogoImg"
        /></a>
      </div>
    </div>
  </div>
  <div class="main">
    <h1>使い方</h1>
    <h2 id="s1">スタート</h2>
    <h4>「グループを作る」をクリック</h4>
    <img
      src="{{ url_for('static', filename='images/how-to-use-1.webp') }}"
      alt=""
    />

    <h2 id="s2">グループ生成</h2>
    <h4>
      ①名前・MBTIを登録する<br />②作りたいグループ数を選択する<br />③「グループ生成」をクリック
    </h4>
    <img
      src="{{ url_for('static', filename='images/how-to-use-2.webp') }}"
      alt=""
    />

    <h2 id="s3">結果を見る</h2>
    <h4>①グループ名を設定する<br />②「結果を共有」をクリックして生成結果をSNSやデバイスに共有・保存</h4>
    <img
      src="{{ url_for('static', filename='images/how-to-use-3.webp') }}"
      alt=""
    />
    <br />
    <br />

    <h1>Q&A</h1>
    <h2 id="s4">どんな時に使える？</h2>
    <h4>居酒屋でのテーブル分けや、イベントでの組み分けなど、相性の良い人同士でグループ分けをしたいときにご活用ください。</h4>
    
    <h2 id="s5">マッチ度とは？</h2>
    <h4>マッチ度とは、「どれだけメンバー間の相性が良くなるようにグループを生成できたか」を表しています。</h4>

    <h2 id="s6">MBTIって？</h2>
    <h4>ここでの「MBTI」とは、「16personalities」で診断することができる16種類の性格タイプのことを指しています。MBTIがわからないときは、<a id="mbti-url" href="https://www.16personalities.com/ja/性格診断テスト">https://www.16personalities.com/ja/性格診断テスト</a>からMBTIの診断を受けてください。</h4>
    <br />
    <br />
    
  </div>

  <div>
    <a href="{{ url_for('index') }}" class="return-to-top"><h1>戻る</h1></a>
  </div>
</body>
{% endblock %}
