{% extends "base.html" %} {% block content %}
<link rel="stylesheet" href="./static/css/home.css" />
<body>
  <div class="main">
    <img
      src="{{ url_for('static', filename='images/logo.png') }}"
      alt=""
      class="main_logo"
    />
    <h1>性格ぴったり<br />グループ生成アプリ</h1>
    <div id="option">
      <div class="option1">
        <a href="{{ url_for('member') }}" id="group_make">グループを作る</a>
      </div>
      <div class="option2">
        <a href="{{ url_for('how_to_use') }}" id="how">使い方</a>
      </div>
    </div>
  </div>
</body>
{% endblock %}
