{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="./static/css/home.css"> 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DotGothic16&family=Kiwi+Maru:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <div class="main">
        <img src="./static/images/logo.png" alt="" class="main_logo">
        <h1>性格ぴったり<br>グループ生成アプリ</h1>
        <div class="option1"><a href="{{ url_for('member') }}"><h2>グループを作る</h2></a></div>
        <div class="option2"><a href="{{ url_for('how_to_use') }}"><h2>使い方</h2></a></div>
    </div>
</body>
{% endblock %}