<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>メンバー登録-性格ぴったりグループ生成アプリ</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='member.css') }}">
</head>
<body>
  <form action="/result" method="POST">
  <div id="container">
    <div class="fix_component_top">
      <div id="title">メンバー登録</div>
      <div id="num_Display">
        <div id="M_numBlock">
          <div class="white_text">人数</div>
          <div id="memberNumber">0</div>
        </div>
        <div id="G_numBlock">
          <div class="white_text">グループ数</div>
          <select id="group_num" name="group_num"></select>
        </div>
      </div>
      <div class="white_text" id="member_text">参加メンバー</div>
      <hr>
    </div>
    <div class="add_members">
      <div id="image-container">
      <!-- 画像が表示されるコンテナ -->
      </div>
    </div>
    <div class="fix_component_bottom">
      <hr>
      <div id="AR_Button_parent">
        <div id="AR_Button">
          <button type="button" onclick="addMember()" id="addButton">+</button>
          <div id="restNum_Display">
            <div id="resible">12人まで登録可能</div>
            <div id="resible_rest">あと11人</div>
          </div>
          <button type="button" id="removeButton">−</button>
        </div>
      </div>
      
    
      <div id="GB_parent"><button type="submit" onclick=location.href="{{ url_for('result') }}" id="G_addButton">グループ生成</button></div>
    </div>
    </form>
  </div>
  <script type="text/javascript" src="{{ url_for('static', filename='member.js') }}"></script>
</body>
</html>